* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.dashboard-container {
  background-color: hsl(0, 0%, 20%);
}

img {
  height: 1rem;
  width: auto;
}

path {
  fill: black;
}

svg {
  height: 1rem;
  width: auto;
}
